body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #008616;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  background: #fff;
  margin: 40px auto;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

h1 {
  text-align: center;
  color: #222;
  font-size: 26px;
  margin-bottom: 25px;
}

form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: end;
  gap: 15px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-group label {
  font-weight: 600;
  color: #333;
  margin-bottom: 6px;
  text-align: center;
}

input,
select {
  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.2s;
  text-align: center;
}

input:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

form > button {
  background-color: #007bff;
  color: white;
  height: 42px;
  align-self: end;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

form > button:hover {
  background-color: #0056b3;
}

.filter {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 0;
  flex-wrap: wrap;
}

.filter input,
.filter select {
  flex: 1;
  min-width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fafafa;
  border: 1px solid #eee;
  margin-bottom: 10px;
  padding: 12px 15px;
  border-radius: 10px;
  transition: background 0.2s;
}

.task-item:hover {
  background: #f0f8ff;
}

.task-item.completed {
  text-decoration: line-through;
  color: #888;
}

.task-item div:last-child {
  display: flex;
  gap: 6px;
}

.task-item button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.task-item button:nth-child(1) {
  background-color: #00f2ff;
  color: #000000;
}

.task-item button:nth-child(2) {
  background-color: #ffc107;
  color: #222;
}

.task-item button:nth-child(3) {
  background-color: #ff0019;
  color: #000000;
}

.task-item button:hover {
  opacity: 0.9;
}

#taskCount {
  text-align: right;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
}
